section {
  position: relative;
}

.role {

}

.email-icon {
  font-size: 2rem;
  vertical-align: middle;
}

section.white {
  background: #fff;
  color: #1d2d35;
}
section.white p {
  color: #1d2d35;  
}

section.pink {
}

section.blue.last {
  text-align: center;
}

section.blue p {
  color: #333;  
}

section .content {
  color: #333;
  /* width: 80%; */
}

@media (max-width: 900px) {
  section .content {
    color: #333;
    /* width: 95%; */
  }
}

section.intro {
  margin-top: 100px;
  margin-bottom: 100px;

  h2 {
    margin-top: 0;
  }
  img {
    height: 400px;
    /* float: right; */
  }
}
section.intro div.text-block {
  vertical-align: top;
  display: inline-block;
  width: 49%;
}

section.intro div.img-block {
  display: inline-block;
  width: 49%;
  float: right;
}

section.intro img.img-square {
  display: none;
}

@media (max-width: 900px) {
  section.intro {
    margin-top: 30px;
  }
  section.intro .img-square-block {
    text-align: center;
  }
  section.intro img.img-square {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    height: 250px;
    margin-bottom: 50px;
  }
  section.intro div.text-block {
    width: 100%;
  }

  section.intro div.img-block {
    img {
      display: none;
    }
  }
}

h1 {
  font-weight: 900;
  clear: both;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  color: #fff;
  font-size: 2rem;
  /* font-size: 3rem; */
  /* font-size: 4rem; */
  font-weight: 700;
  line-height: 2.6rem;
  color: #1d2d35;
  border-bottom: 5px solid #ffda00;
  /* padding-top: 30px; */
  padding-bottom: 10px;
  display: inline-block;
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2rem;
  }
}

h2 a[href^='http']::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.25em;
  background-size: 100%;
  background-image: url(
    "data:image/svg+xml,%3Csvg \
    xmlns='http://www.w3.org/2000/svg' \
    viewbox='0 0 12.2 12.2' \
    width='14' \
    height='14'%3E%3Cpath \
    d='M5.7 0v1.5h4L4.5 6.7l1 1.1 5.3-5.2v3.9h1.4V0z'/%3E%3Cpath \
    fill='yellow' \
    d='M3.4 6.7l3-2.9H1.5v7h7V5.9l-3 2.9z'/%3E%3Cpath \
    fill='ffda00' \
    d='M8.5 5.9v4.9h-7v-7h4.9l1.5-1.6H0v10h10V4.4z'/%3E%3C/svg%3E"
  );
  transform: translateY(0.25em);
}


h2, h2 a {
  /* font-weight: 700; */
  clear: both;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  /* margin-bottom: 20px; */
  color: #fff;
  /* font-size: 1.6rem; */
  color: #1d2d35;
  margin-bottom: 0;
  text-decoration: 0;
  /* font-family: 'Proxima Nova Bold', serif; */
  /* font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif; */
  /* font-family: 'Futura PT Bold'; */
  /* font-family: "Space Mono Bold"; */
  /* font-family: "Cormorant Bold"; */
  /* font-family: "BioRhyme Bold"; */
  /* font-family: sans-serif; */
}

h2 .secondary-header {
   /* font-size: 1.1em; */
}

span.badge {
  background: #ffda00;
  padding: 3px 10px;
  /* font-weight: 900; */
  font-weight: 500;
  font-size: 0.7rem;
  vertical-align: middle;
  margin-left: 0;
  margin-right: 3px;
  background: #023047;
  /* color: #ffda00; */
  color: #ffde3b;
}

p span.badge {
  margin-left: 0;
}
p span.upcoming {
  color: #cccccc;
}

h2 a[href^='http'] {
  margin-right: 30px;
}

h5 {
  font-family: 'Proxima Nova Regular', serif;
  font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  text-align: left;
  color: #1d2d35;
  font-size: 1.3rem;
  font-family: 'Futura PT Bold';
  font-family: "BioRhyme Bold";
}


section.white p.subheader {
  margin-bottom: 20px;
  font-weight: 700;
  /* color: #555; */
}

.accent {
  /*font-family: 'Proxima Nova Regular', serif;
  font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;*/
  font-weight: 700;
  /*text-align: left;
  color: #1d2d35;
  font-family: 'Futura PT Bold';*/
  /* font-size: 1.3rem; */
  /* font-family: "BioRhyme Bold"; */
}

h3 {
/*  font-family: 'Proxima Nova Light', serif;
  font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;*/
  font-family: 'Futura PT Regular';
  -webkit-font-smoothing: antialiased;
  font-size: 2rem;
  /*line-height: 24px;*/
  color: #1d2d35;
  /*font-weight: 300;*/
  /*font-size: 1.3rem;*/
  text-align: justify;
}

.role {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}


.year-role {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.9rem;
  color: #000000;
  margin-bottom: 10px;
}

p {

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  /* font-family: 'Proxima Nova Light', serif; */
  /* font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif; */
  /* font-family: 'Futura PT Regular'; */
  -webkit-font-smoothing: antialiased;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  /*line-height: 24px;*/
  color: #1d2d35;
  /* font-weight: 300; */
  /*font-size: 1.3rem;*/
  text-align: justify;
  text-align: left;
}

p a[href^='http'] {
  display: none;
}

p a[href^='http']::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.25em;
  background-size: 100%;
  background-image: url(
    "data:image/svg+xml,%3Csvg \
    xmlns='http://www.w3.org/2000/svg' \
    viewbox='0 0 12.2 12.2' \
    width='14' \
    height='14'%3E%3Cpath \
    d='M5.7 0v1.5h4L4.5 6.7l1 1.1 5.3-5.2v3.9h1.4V0z'/%3E%3Cpath \
    fill='yellow' \
    d='M3.4 6.7l3-2.9H1.5v7h7V5.9l-3 2.9z'/%3E%3Cpath \
    fill='ffda00' \
    d='M8.5 5.9v4.9h-7v-7h4.9l1.5-1.6H0v10h10V4.4z'/%3E%3C/svg%3E"
  );
  transform: translateY(0.25em);
}



strong {
  font-family: 'Proxima Nova Regular', serif;
  font-family: 'Proxima Nova Bold', serif;
}

blockquote {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  font-family: 'Proxima Nova Light', serif;
  font-weight: 500;
  font-size: 2rem;
  text-align: justify;
        -webkit-font-smoothing: antialiased;
  font-style: italic;
  color: #666;
  color: #345d7b;
}

blockquote > div {
  width: 100%;
  font-family: 'Proxima Nova Light', serif;
  font-weight: 300;
  font-size: 1.3rem;
  text-align: right;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 30px;
  color: #333;
}

blockquote .sign {
  font-style: normal;
}

.devider {
  font-family: 'Proxima Nova Light', serif;
  font-weight: 300;
  text-align: center;
  color: #345d7b;
  font-size: 2rem;
  vertical-align: middle;
}

.arrow {
  width: 100%;
}

section.contacts {
  background-size: cover;
  margin-bottom: 50px;
}

section.contacts a {
  text-decoration: none;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px dashed #fff;
}

section.contacts .connect p {
  margin-bottom: 12px;
  vertical-align: middle;
}
section.contacts .connect p img {
  vertical-align: middle;
  margin-right: 10px;
  height: 30px;
  display: none;
}

div.technologies {
  text-align: center;
}
div.technologies img.technology {
  max-height: 50px;
}
